.movies {
  margin: 0 auto;
  padding: 80px 70px 10px;
}

.movies__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 32px 30px;
}

@media (max-width: 768px) {
  .movies {
    padding: 80px 30px 30px;
  }

  .movies__list {
    gap: 35px 24px;
  }
}

@media (max-width: 475px) {
  .movies {
    padding: 50px 10px 30px;
  }

  .movies__list {
    gap: 16px;
  }
}