.profile {
  padding: 74px 0 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 110px;
}

.profile__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(66, 66, 66, 1);
  width: 410px;
}

.profile__container:last-of-type {
  border-bottom: none;
}

.profile__label {
  display: flex;
  position: relative;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 16px;
}


.profile__input:-webkit-autofill,
.profile__input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #202020 inset !important;
  padding: 10px;
}

.profile__input:-webkit-autofill:hover,
.profile__input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px #323131 inset !important;
  padding: 10px;
}

.profile__input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

.profile__input {
  padding: 0;
  width: 200px;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  border: none;
  outline: none;
  background-color: transparent;
  text-align: right;
  border-radius: 8px;
  color:#000;
}

.profile__input:focus {
  position: absolute;
  right: 0;
  padding: 10px 10px;
  text-align: left;
  background: transparent;
}

/* .profile__label_not-line {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
} */

.profile__btn {
  font-size: 13px;
  line-height: 16px;
  color: #000;
  border: none;
  padding: 0;
  outline: none;
  text-align: center;
  background: none;
  cursor: pointer;
  margin-top: 220px;
  opacity: .4;
}

.profile__btn_activ {
  cursor: pointer;
  opacity: 1;
}

.profile__input-error {
  max-width: 410px;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  color: #EE3465;
}

.profile__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #EE3465;
  margin-top: 16px;
}

.profile__link:hover {
  opacity: 0.7;
  transition: .1s linear;
}

@media (max-width: 768px) {
  .profile {
    padding-top: 236px;
  }

  .profile__title {
    margin-bottom: 96px;
  }

  .profile__btn {
    margin-top: 210px;
    font-size: 12px;
    line-height: 15px;
  }
}

@media (max-width: 475px) {
  .profile {
    padding: 70px 0 40px;
  }

  .profile__title {
    margin-bottom: 80px;
  }

  .profile__container {
    width: 260px;
  }

  .profile__input-error {
    max-width: 260px;
  }

  .profile__btn {
    margin-top: 379px;
  }

  .profile__link {
    font-size: 12px;
    line-height: 15px;
  }
}
