.search-form__submit {
  height: 100%;
  width: 59px;
  cursor: pointer;
  /*border-radius: 48px;*/
  border: none;
  outline: none;
  /*color: #fff;*/
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  /* identical to box height, or 164% */
  background-color: transparent;

  text-align: center;
  transition: .3s;
}
.search-form__submit > img {
  margin-top: 5px;
  height: 60px;
  margin-left: 10px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .search-form__submit > img {
    height: 50px;
  }
}

.search-form__submit:hover {
  opacity: .8;
}
