.portfolio {
  padding: 0 70px 125px;
  color: #000;
}

.portfolio__title {
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}

.portfolio__project {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  list-style-type: none;
  margin: 0;
  padding: 50px 0 0;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #000;
  font-size: 30px;
  line-height: 50px;
  font-weight: 400;
  letter-spacing: -0.04em;
  padding-right: 10px;
}

.portfolio__link:hover {
  opacity: 0.7;
  transition: .1s linear;
}

.portfolio__item:not(:last-child) {
  border-bottom: 1px solid #424242;
  padding-bottom: 19px;
}

@media (max-width: 768px) {
  .portfolio {
    padding: 0 50px 90px;
  }

  .portfolio__title {
    color: #A0A0A0;
  }

  .portfolio__item:not(:last-child) {
    border-bottom: 1px solid #E6E6E6;
  }

  .portfolio__link {
    font-size: 28px;
  }
}

@media (max-width: 475px) {
  .portfolio {
    padding: 0 14px 70px;
  }

  .portfolio__title {
    font-size: 14px;
    line-height: 20px;
  }

  .portfolio__project {
    padding: 40px 0 0;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
    padding-right: 0;
  }

  .portfolio__icon {
    width: 10px;
    padding-bottom: 7px;
  }
}
