.header {
  padding: 18px 70px;
  background-color: #FFF;
  color: black;
}

@media (max-width: 768px) {
  .header {
    padding: 15px 30px;
  }
}

@media (max-width: 475px) {
  .header {
    padding: 18px 14px;
  }
}
