.filter-checkbox {
  justify-content: center;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  margin-top: 29px;
}

.filter-checkbox__switch {
  height: 20px;
  width: 36px;
  appearance: none;
  border-radius: 20px;
  box-shadow: inset -16px 0px 0px 0px #EBEBEB;
  background-color: #F5F5F5;
  border: 2px solid #EBEBEB;
  outline: none;
  transition: .15s;
}

.filter-checkbox__switch:checked {
  background-color: white;
  box-shadow: inset 16px 0px 0px 0px #3DDC84;
  border: 2px solid #3DDC84;
}

.filter-checkbox__switch:focus {
  outline-width: 0;
  cursor: pointer;
}

.filter-checkbox__name {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin-left: 15px;
}


@media (max-width: 768px) {
  .filter-checkbox  {
    padding: 0 19px;
  }
}

@media (max-width: 675px) {
  .filter-checkbox {
    border: none;
    background: inherit;
  }
  .search__form {
    border-radius: 9px;
    background: #F9F9F9;
  }
}
