.about-me {
  padding: 110px 70px 100px;
}

.about-me__title {
  margin: 0;
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #DADADA;
  padding-bottom: 23px;
}

.about-me__container {
  display: flex;
  justify-content: space-between;
  margin-top: 66px;
  gap: 0 49px;
}

.about-me__profile {
  max-width: 600px;
}

.about-me__name {
  margin: 0;
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  letter-spacing: -0.04em;
}

.about-me__profession {
  margin: 0;
  padding-top: 18px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
}

.about-me__description {
  margin: 0;
  padding-top: 26px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.about-me__social {
  list-style-type: none;
  margin: 99px 0 0;
  padding: 0;
  display: flex;
  gap: 0 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.about-me__link {
  text-decoration: none;
  color: #fff;
}

.about-me__foto {
  display: block;
  width: 270px;
  height: 327px;
  object-fit: cover;
  border-radius: 10px;

}

.about-me__link:hover {
  opacity: 0.7;
  transition: .1s linear;
}

@media (max-width: 768px) {
  .about-me {
    padding: 90px 50px;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__profession {
    padding-top: 16px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__description {
    padding-top: 20px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__social {
    margin-top: 87px;
  }

  .about-me__foto {
    width: 255px;
    height: 307px;
  }
}

@media (max-width: 600px) {
  .about-me__container {
    flex-direction: column-reverse;
    margin-top: 60px;
  }

  .about-me__name {
    padding-top: 40px;
  }

  .about-me__foto {
    width: 292px;
    height: 352px;
    object-fit: contain;
  }
}

@media (max-width: 475px) {
  .about-me {
    padding: 70px 14px;
  }

  .about-me__title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
  }

  .about-me__name {
    font-size: 30px;
    line-height: 36px;
  }

  .about-me__profession {
    padding-top: 20px;
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__description {
    padding-top: 20px;
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__social {
    margin-top: 40px;
  }

  .about-me__social {
    gap: 0 26px;
  }
}